.App {
  text-align: center;
  width: 70%;
  height: 400px;
  margin: 0 auto;
}

.escape {
  position: absolute;
  top: 20px;
  left: 20px;
}

.main-card {
  height: inherit;
  margin-top: 80px;
}

.dashboard-left {
  width: 48%;
  float: left;
  padding-left: 10px;
}

.dashboard-right {
  text-align: left;
  width: 48%;
  float: left;
}

.login-input {
  margin-top: 40px;
}

.login-button {
  width: 40%;
  margin-top: 10px;
}

.email-input {
  margin-top: -7px;
}

@media (max-width: 1024px) {
  .login-button {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .App {
    width: 100%;
    height: 800px
  }
  .escape {
    top: 492px;
  }
  .main-card {
    width: 100%;
    margin: 0;
  }
  .dashboard-left,
  .dashboard-right {
    width: 100%;
    display: block;
    text-align: center;
  }
  .dashboard-right {
    padding: 0 50px;
  }
}
